<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Medrar - Mascotas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/imagenHome.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle style="text-align:center">Medrar - Mascotas</ion-card-subtitle>
        <ion-card-title style="text-align:center">El perfecto aliado para el cuidad de tu mascota</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Todo lo necesario para cuidar a tu mascota , no te preocupes mas por el perfecto el cuidad de tu mascoca, dejalo en nuestras manos.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Opciones</ion-label>
      </ion-list-header>
      <ion-item (click)="registrarMascota()">
        <ion-icon slot="start" color="medium" name="create"></ion-icon>
        <ion-label>Registrar mascota</ion-label>
      </ion-item>
      <ion-item (click)="consultarEliminar()">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Consulta/Eliminación</ion-label>
      </ion-item>
      <ion-item (click)="registrarVacuna()">
        <ion-icon slot="start" color="medium" name="add-circle"></ion-icon>
        <ion-label>Registrar vacuna</ion-label>
      </ion-item>
      <ion-item (click)="registrarPropietario()">
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>Registrar propetario</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
